html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {  
        display: flex;
        box-sizing: border-box;
        flex-direction: row;   
        height: 100%;          
        overflow: hidden;      
        margin: 0px;           
        background-color: white;        
}

.pane-nav {
    top: 50%;
	position: fixed;
    left: 0.5rem;
    background-color: #ffffff;
	text-align: center;
    border-radius: 4px;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translate(0, -50%);
    border: 1px solid #dee5e8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pane-nav__item-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 174px auto;
}

.nav-bar {
	flex: 1 0 1%;
}

.accordion {
    display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.homepage {
	flex: 1 0 90%;
    padding-left: 0.1em;
    height: 100%;
}

.homepage .my-canvas {
	height: 100%;
	width: 100%;
}

.pane-nav a .fas {
		font-size: 30px;
		position: center;
		text-align: center;
		color: #727272;
		margin: 0.5em;
}
